<div class="row">
	<div class="col-lg-12">

		<%= form_tag '/', method: 'post', class: 'form-control' do %>
			<%= label_tag(:name, "Name:") %>
		  	<%= text_field_tag(:name) %><br>
		  	<%= label_tag(:email, "Email:") %>
		  	<%= text_field_tag(:email) %><br>
		  	<%= label_tag(:message, "Message:") %>
		  	<%= text_area_tag(:message) %><br>
		  	<%= submit_tag("Send Message") %>
		<% end %>
	</div>
</div>