<!-- First panel -->
<div id="panel-1">
	<%= render 'nav' %>
	<%= render 'call_to_action' %>
</div>

<div class="tabs tabs-style-iconbox">
	<%= render 'tab_buttons' %>
	<%= render 'tab_content' %>
</div>


<!-- CONTACT FORM -->

<%= render 'contact_form' %>