
<div id="panel-1">

	<nav>
		<ul class="links">
			<a id="logo" href="#">Meli Melo</a>
			<a id="contact-button" href="#">Contact</a>
			<a id="contact-button" href="#">Services</a>
			<a id="contact-button" href="#">Products</a>
		</ul>
	</nav>

	<div class="col-lg-12">
		<div id="main-text">Lorem Ipsum Estude</div>
		<div id="sub-text">
			Nullam pretium quis lorem molestie<br>
			Aenean enim est, vehicula ac dui id,<br>
			consequat cursus purus.
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-4">
		Sourcing
	</div>
	<div class="col-lg-4">
		Prototyping
	</div>
	<div class="col-lg-4">
		Production
	</div>
</div>

<div class="row">
	<div class="col-lg-12">

		<%= form_tag '/', method: 'post', class: 'form-control' do %>
			<%= label_tag(:name, "Name:") %>
		  	<%= text_field_tag(:name) %><br>
		  	<%= label_tag(:email, "Email:") %>
		  	<%= text_field_tag(:email) %><br>
		  	<%= label_tag(:message, "Message:") %>
		  	<%= text_area_tag(:message) %><br>
		  	<%= submit_tag("Send Message") %>
		<% end %>
	</div>
</div>