<!-- First panel -->
<div id="panel-1">

	<nav>
		<ul class="links">
			<a id="logo" href="#">Meli Melo</a>
			<a id="contact-button" href="#">Contact</a>
			<a id="contact-button" href="#">Services</a>
			<a id="contact-button" href="#">Products</a>
		</ul>
	</nav>

	<div class="col-lg-12">
		<div id="main-text">Lorem Ipsum Estude</div>
		<div id="sub-text">
			Nullam pretium quis lorem molestie<br>
			Aenean enim est, vehicula ac dui id,<br>
			consequat cursus purus.
		</div>
	</div>
</div>

<!-- TABS -->

<div class="row">
	<div class="col-lg-4 tabs">
		<a href="#" class="sourcing-tab-link">Sourcing</a>
	</div>
	<div class="col-lg-4 tabs">
		<a href="#" class="prototyping-tab-link">Prototyping</a>
	</div>
	<div class="col-lg-4 tabs">
		<a href="#" class="production-tab-link">Production</a>
	</div>
</div>

<!-- TAB CONTENT -->
<div class="row services-panel">
	<div class="col-lg-12 services-content" id="sourcing-tab">
		<h1 style="text-align:center;">Sourcing</h1>
	</div>

	<div class="col-lg-12 services-content" id="prototyping-tab">
		<h1 style="text-align:center;">Prototyping</h1>
	</div>

	<div class="col-lg-12 services-content" id="production-tab">
		<h1 style="text-align:center;">Production</h1>
	</div>
</div>

<!-- CONTACT FORM -->

<div class="row">
	<div class="col-lg-12">

		<%= form_tag '/', method: 'post', class: 'form-control' do %>
			<%= label_tag(:name, "Name:") %>
		  	<%= text_field_tag(:name) %><br>
		  	<%= label_tag(:email, "Email:") %>
		  	<%= text_field_tag(:email) %><br>
		  	<%= label_tag(:message, "Message:") %>
		  	<%= text_area_tag(:message) %><br>
		  	<%= submit_tag("Send Message") %>
		<% end %>
	</div>
</div>